*{
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: rgb(110, 41, 175);;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
   border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}

ul{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
   
   
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    transition: all ease-in 1s;
    
}

a:hover{
    color: rgba(255, 255, 255, 0.678);
    transform: scaleX(2deg);
}

div{

    color: white;
    height: 100vh;
    background-color: rgb(110, 41, 175);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.5em;
}

figure{
    background-color: rgba(157, 64, 245, 0.973);
    padding: 10px;
    border-radius: 40px;
    width: 35em;
}

img{
    margin-bottom: -13px;
    width: 700px;
    translate: -10px;

}
p{
    background-color: #ffff;
    color: black;
    width: 168px;
    padding: 2px;
}